@use "./variable.scss";
.info-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
  width: 90%; /* Utilisation de 90% pour les petits écrans */
  max-width: 600px; /* Largeur maximum pour les grands écrans */
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: white;

  ul { list-style: none; }
  li { font-size: 1.2em; }
  a { color: inherit; text-decoration: none; }

  /* Styles responsives */
  @media (max-width: 768px) { /* Pour les écrans jusqu'à 768px */
    padding: 20px; /* Ajout de padding pour éviter que le contenu touche les bords */
  }

  @media (max-width: 480px) { /* Pour les écrans jusqu'à 480px */
    font-size: 1em; /* Réduction de la taille de la police pour les très petits écrans */
  }
}

.cv-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Assurez-vous que le conteneur prend toute la largeur disponible */

  h2 {
    font-size: 2em;
    text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
      1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
      3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
      5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
  }

  /* Styles responsives */
  @media (max-width: 768px) { /* Pour les écrans jusqu'à 768px */
    width: 90%; /* Largeur de 90% pour le conteneur CV */
  }

  @media (max-width: 480px) { /* Pour les écrans jusqu'à 480px */
    h2 { font-size: 1.5em; } /* Réduction de la taille de la police pour le titre */
  }
}

/* Styles pour le bouton */
.button-cv {
  padding: 10px 20px;
  margin: 10px;
  margin-top: 30px;
  font-size: 1.5em;
  color: #ffd700;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
  font-family: variable.$font-text;
  text-shadow: black 1px 1px;

  /* Effet de survol */
  &:hover {
    background-color: #ffd700; /* Couleur de fond au survol */
    color: aliceblue; /* Couleur de texte au survol */
    transform: scale(1.05); /* Zoom au survol */
  }
}

/* Styles pour l'image du CV */
.cv-image {
  transition: transform 0.3s ease; /* Transition pour l'effet de zoom */

  &:hover {
    transform: scale(1.4); /* Zoom sur l'image au survol */
  }

  /* Styles responsives */
  @media (max-width: 768px) { /* Pour les écrans jusqu'à 768px */
    width: 100%; /* Assurez-vous que l'image s'adapte à la largeur */
    max-width: 90%; /* Largeur maximum pour les petits écrans */
  }

  @media (max-width: 480px) { /* Pour les écrans jusqu'à 480px */
    max-width: 80%; /* Ajustement pour les très petits écrans */
  }
}

