@use "./variable.scss";
@import './home.scss';
@import"./projet.scss";
@import "./oneproject.scss";

body {
  border-top: 10px groove;
  border-right: 10px ridge;
  border-bottom: 10px ridge;
  border-left: 10px groove;
 border-color: variable.$border-color;
  box-sizing: border-box;
  background: whitesmoke;
}
h1,
h2,
h3,
h4 {
font-family: variable.$font-title; // Accès via namespace
  color: variable.$font-color-title;
}

p,
li {
  font-family: variable.$font-text;
  color: variable.$font-color-text;
}
