@use "./variable.scss";
@import './home.scss';
@import"./projet.scss";
@import "./oneproject.scss";
@import "./contact.scss";
@import "./Nav.scss";
@import "./profiladmin.scss";
@import "./admin.scss";
@import "./projetadmin.scss";


 body {
 
 
  background: whitesmoke;
}
h1,
h2,
h3,
h4 {
font-family: variable.$font-title; // Accès via namespace
  color: variable.$font-color-title;
}

p,
li {
  font-family: variable.$font-text;
  color: variable.$font-color-text;
}
