@use "./variable.scss";
.homepage-container {
  position: relative; // Assurez-vous que la position est relative
  z-index: 1; // Doit être supérieur à celui des particules
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoasd {
  width: 350px;
  height: auto;
  background: none;
}

.header-title {
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}



.content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap; /* Permet aux éléments de se réorganiser */
  justify-content: center; /* Centre le contenu */
}

.profil {
   position: relative; // Assurez-vous que la position est relative
  z-index: 1; // Doit être supérieur à celui des particules
  width: 100%;
  max-width: 350px; /* Conserve la taille sur les écrans plus grands */
  height: auto;
  margin: auto;
  border-radius: 20px;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
}

.sub-title {
  text-shadow: black 1px 1px;
}

.description-container {
  position:relative; // Assurez-vous que la position est relative
  z-index: 1; // Doit être supérieur à celui des particules
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 43%; /* Ajuste la largeur maximale */
  margin: auto; /* Centre le conteneur */
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
}

.description-container h2 {
  margin-bottom: 0;
  font-size: 2em;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 1px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.description-container h3 {
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 1px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.8em;
}

.description-container h4 {
  margin-top: 0;
  font-size: 1.7em;
  
}

.description-container p {
  margin-top: 0;
  font-weight: bolder;
  font-size: 1.6em;
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.skills-container h2 {
  font-size: 2rem;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.logo {
  width: 70px;
  height: auto; /* Ajout de la hauteur auto pour rendre l'image responsive */
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; /* Permet aux logos de s'adapter sur plusieurs lignes si nécessaire */
  max-width: 100%; /* S'assure que le conteneur ne dépasse pas la largeur de l'écran */
}

.skills-container ul {
  margin-right: 30px;
  margin-left: 30px;
  padding: 25px;
  box-shadow: inset 1px 1px 5px 5px gold, 2px 5px 10px 0px black,
    5px 5px 15px 5px black;
  background: whitesmoke;
  border-radius: 20px;
}

.skills-container li {
  list-style: none;
}

.footer-container {
  text-align: center;

  p {
    color: #ffd700;
  }
}

.footer-container p {
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

/* Media queries pour ajuster les tailles de police sur les petits écrans */
@media (max-width: 768px) {
  .header-title {
    font-size: 2em; /* Réduit la taille de police */
  }

 
  .description-container h2,
  .description-container h3,
  .description-container h4 {
    font-size: 1.2em; /* Réduit la taille de la police des titres */
  }

  .content {
    flex-direction: column; /* Change la direction en colonne sur les petits écrans */
    align-items: center; /* Centre le contenu */
  }

  .profil,
  .description-container {
    width: 85%;
    max-width: 90%; /* Rend les conteneurs plus larges sur les petits écrans */

  }
  .profil{margin-top: 40px;}
}
