.admin-projects {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;

  h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  /* Formulaire de projet */
  .project-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

    input, textarea, select {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
      }
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #555;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  /* Menu déroulant */
  .custom-dropdown {
    position: relative;
    width: 100%;
  }

  .dropdown-toggle {
    background-color: #f8f9fa;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
  }

  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
  }

.checkbox-option {
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;

  input {
    margin-right: 10px; /* Gardez cette marge pour l'espacement à droite de la checkbox */
  }

  &:hover {
    background-color: #f1f1f1;
  }
}


  /* Liste des projets */
  .project-list {
    list-style-type: none;
    padding: 0;
  }

  .project-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .project-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007BFF;
  }

  .project-description, .projectlink, .project-repo {
    margin: 10px 0;
    color: #555;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }

  .skill-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .skill-img {
    margin-right: 5px;
  }

  .no-skills {
    color: #777;
  }

  .edit-button, .delete-button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-button {
    background-color: #007BFF;
    color: white;
  }

  .edit-button:hover {
    background-color: #0056b3;
  }

  .delete-button {
    background-color: #dc3545;
    color: white;
  }

  .delete-button:hover {
    background-color: #c82333;
  }
}
